.docs-wrapper{
	max-width:1000px;
	margin-left: auto;
	margin-right: auto;
}
.docs-row{
	padding-top: 100px;
	padding-bottom: 250px;
}
.page-title{
	font-size: 22px;
	font-family: 'Lato', sans-serif;

	margin-top: 0px;
	margin-bottom: 0px;

	color: #2e2e2e;

	padding-bottom: 10px;
}

.page-sub-title{
	font-size: 16px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding-top: 20px;
	padding-bottom: 10px;

	font-family: 'Lato', sans-serif;

	color: #2e2e2e;
}
.content-text{
	font-size: 14px;
	font-family: 'Lato', sans-serif;

	margin-top: 0px;
	margin-bottom: 0px;

	color: #2e2e2e;
}
/*
Left Side
*/
.android-samples-title{
	font-size: 24px;
	font-family: 'Ubuntu', sans-serif;

	margin-top: 0px;
	margin-bottom: 0px;

	color: #088A08;

	padding-bottom: 10px;
}
.left-menu-item{
	margin-bottom: 0px;
	margin-top: 0px;

	font-size: 14px;
	font-family: 'Lato', sans-serif;

	padding-top: 5px;
}
.left-menu-item-link{
	color: #6E6E6E;
}
.left-menu-item-link:hover{
	color: #6E6E6E;
	text-decoration: none;
}
.left-menu-sub-item{
	margin-bottom: 0px;
	margin-top: 0px;

	font-size: 14px;
	font-family: 'Lato', sans-serif;
	padding-left: 10px;
}
.left-menu-item-sub-link{
	color: #2e2e2e;
}
.left-menu-item-sub-link:hover{
	color: #2e2e2e;
	text-decoration: none;
	
}