#topRow{
	width: 100%;
	background-color: #298A08;
	padding-bottom: 20px;
}
.top-bc{
	background-color: #298A08;
}
#title{
	font-family: 'Josefin Sans', sans-serif;
	color: white;

}
.navbar-brand{
	color: white;
	font-size: 32px;
}
.navbar{
	border-style: none;
	padding-top: 20px;
	padding-bottom: -5px;
	margin-top: -20px;
}
#subTitle{
	font-size: 18px;
	color: white;
	
}
#sub-title-wrapper{
	margin-top: 60px;
}
body{
	background-color: #f1f1f1;
}