<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weaverprojects.point">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name=".launch"
            android:label="@string/app_name">
            <intent-filter>
                   <action android:name="android.intent.action.MAIN"/>
                   <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".friends_list"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.friends_list"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity
            android:name=".point"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.point"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".add_friend"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.add_friend"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".start"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.start"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.signup"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.login"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>


    </application>

</manifest>
